body {
  width: 100%;
  height: 100vh;
  background: url(assets/603390_521834937884255_1509644538_n.jpg) no-repeat center;
  background-size: cover;
}

h1 {
  font-size: 2.5rem;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  padding-top: 6rem;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 1.5; 
  color: wheat;
}



p {
  font-size: 1.5rem;
  padding-top: 5rem;
  font-family: 'Crimson Text', serif;
  font-style: italic;
}
